.header{

    width: 100%;
    padding: 1em 0em;

    &-input{
        width: 100%;
        background-color: #1c382f;
        border: 1px solid #183129;
        height: 3em;
        color: white
    }

}